<template>
  <div>
      <nav>
        <div class="nav-wrapper">
          <nuxt-link to="/" class="brand-logo">Home</nuxt-link>
          <nuxt-link to="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></nuxt-link>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><nuxt-link to="/about">About</nuxt-link></li>
          </ul>

          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
  </div>
</template>
<script>
export default {
  data: () => ({
  }),
}
</script>
