<template>
  <div>
    <h2>Menu</h2>
    <div><nuxt-link to="/">Home</nuxt-link></div>
    <div><nuxt-link to="/about">About</nuxt-link></div>
  </div>
</template>

<script>
export default {
  data: () => ({
  }),
}
</script>
