<template>
  <div>
  
    <v-materialize/>

    <v-header/>

    <!-- Page Layout here -->
    <div class="row">
      <!-- Teal page content  -->
      <div class="col s12 m8 l9 teal">
        <p>About Page</p>
        <nuxt-link to="/">Go to /</nuxt-link>
      </div>

    </div>
  </div>
</template>

<script>
import Menu from '~/components/menu'
import Materialize from '~/components/materialize'
import Header from '~/components/header'
import Vue from 'vue';


export default {
  components: {
    "v-menu": Menu,
    "v-materialize": Materialize,
    "v-header": Header
  },
  asyncData() {
    return new Promise((resolve) => {
      setTimeout(function () {
        resolve({})
      }, 1000)
    })
  }
}
</script>

<style scoped>
.container {
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
</style>