<template>
  <div>

    <v-materialize/>
    <v-header/>
    
    <div class="container">

      <div class="card grey small">
        <div class="card-content white-text">
          <span class="card-title">Hello {{ name }}!</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <nuxt-link to="/about">Go to about</nuxt-link>
        </div>
      </div>

      <div class="card grey small col-4">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import Materialize from '~/components/materialize'
import Header from '~/components/header'

export default {
  components: {
    "v-materialize": Materialize,
    "v-header": Header
  },
  asyncData() {
    return new Promise((resolve) => {
      setTimeout(function () {
        resolve({ name: 'world' })
      }, 1000)
    })
  }
}
</script>

<style scoped>
.container {
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
</style>